In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

The following dataset is from https://www.kaggle.com/datasets/anshtanwar/residential-ev-chargingfrom-apartment-buildings, which has data from this article https://www.sciencedirect.com/science/article/pii/S0378778821002073?via%3Dihub, which is EV data from a research project done in a suburb in Norway.

In [103]:
dataset1 = pd.read_csv("data/Dataset 1_EV charging reports.csv", sep=";", decimal=",")
dataset1

,session_ID,Garage_ID,User_ID,User_type,Shared_ID,Start_plugin,Start_plugin_hour,End_plugout,End_plugout_hour,El_kWh,Duration_hours,month_plugin,weekdays_plugin,Plugin_category,Duration_category
0,1,AdO3,AdO3-4,Private,NaN,21.12.2018 10:20,10,21.12.2018 10:23,10.0,0.30,0.050000,Dec,Friday,late morning (9-12),Less than 3 hours
1,2,AdO3,AdO3-4,Private,NaN,21.12.2018 10:24,10,21.12.2018 10:32,10.0,0.87,0.136667,Dec,Friday,late morning (9-12),Less than 3 hours
2,3,AdO3,AdO3-4,Private,NaN,21.12.2018 11:33,11,21.12.2018 19:46,19.0,29.87,8.216389,Dec,Friday,late morning (9-12),Between 6 and 9 hours
3,4,AdO3,AdO3-2,Private,NaN,22.12.2018 16:15,16,23.12.2018 16:40,16.0,15.56,24.419722,Dec,Saturday,late afternoon (15-18),More than 18 hours
4,5,AdO3,AdO3-2,Private,NaN,24.12.2018 22:03,22,24.12.2018 23:02,23.0,3.62,0.970556,Dec,Monday,late evening (21-midnight),Less than 3 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6873,6874,UT15,UT15-2,Private,NaN,31.01.2020 17:57,17,31.01.2020 22:29,22.0,13.43,4.530000,Jan,Friday,late afternoon (15-18),Between 3 and 6 hours
6874,6875,AsO10,AsO10-1,Private,NaN,31.01.2020 18:32,18,31.01.2020 21:43,21.0,9.10,3.182222,Jan,Friday,early evening (18-21),Between 3 and 6 hours
6875,6876,Bl2,Bl2-1,Private,NaN,31.01.2020 19:25,19,31.01.2020 20:37,20.0,4.28,1.203889,Jan,Friday,early evening (18-21),Less than 3 hours
6876,6877,UT7,UT7-1,Private,NaN,31.01.2020 19:27,19,31.01.2020 19:48,19.0,2.31,0.352500,Jan,Friday,early evening (18-21),Less than 3 hours
6877,6878,Bl2,Share-7,Shared,Shared-7,31.01.2020 20:42,20,31.01.2020 23:53,23.0,20.14,3.184167,Jan,Friday,early evening (18-21),Between 3 and 6 hours

The following is data from https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/NFPQLW, which contains data from Harvard dataverse's repo of EV charging sessions across 105 stations at a workplace charging program.

In [104]:
dataset2 = pd.read_csv("data/station_data_dataverse.csv")
dataset2

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.00,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.00,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0
2,4228788,6.76,0.58,0014-11-21 12:05:46,0014-11-21 16:46:04,12,16,4.671667,Fri,android,...,0,3,0,0,0,0,1,0,0,0
3,3173284,6.17,0.00,0014-12-03 19:16:12,0014-12-03 21:02:18,19,21,1.768333,Wed,android,...,0,3,0,0,1,0,0,0,0,0
4,3266500,0.93,0.00,0014-12-11 20:56:11,0014-12-11 21:14:06,20,21,0.298611,Thu,android,...,0,3,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,7021565,6.74,0.00,0015-10-01 16:31:18,0015-10-01 19:59:08,16,19,3.463889,Thu,ios,...,0,2,0,0,0,1,0,0,0,1
3391,3758092,6.86,0.00,0015-10-02 16:28:48,0015-10-02 19:27:05,16,19,2.971389,Fri,ios,...,0,2,0,0,0,0,1,0,0,1
3392,5858374,6.07,0.00,0015-09-30 16:54:22,0015-09-30 20:24:06,16,20,3.495556,Wed,android,...,0,3,0,0,1,0,0,0,0,1
3393,2586645,5.74,0.00,0015-09-24 11:43:02,0015-09-24 13:55:12,11,13,2.202778,Thu,ios,...,1,2,0,0,0,1,0,0,0,1
3394,7860608,6.95,0.00,0015-10-01 16:43:05,0015-10-01 19:42:06,16,19,2.983611,Thu,ios,...,0,3,0,0,0,1,0,0,0,1

The following dataset is from https://data.nrel.gov/submissions/182, which tracks 300 vehicles over 4 year period from NREL.

In [105]:
dataset3 = pd.read_csv("data/NRELs Charging Data - Raw.csv")
dataset3

,driverId,vehicle_model,request_entry_time,expected_departure,station,start_date_time,end_date_time,start_charge,termin_charge,controlled_duration,miles_requested,max_charge_power,kwh_requested,energy_charged,cost_for_session,afterPaid
0,0,Nissan LEAF,2016-11-03 10:01:03,2016-11-03 16:30:00,10B,NaN,NaN,NaN,NaN,NaN,35,NaN,10.500,NaN,NaN,False
1,0,Nissan LEAF,2016-11-03 10:12:35,2016-11-03 16:30:00,10A,NaN,NaN,NaN,NaN,NaN,35,NaN,10.500,NaN,NaN,False
2,0,Mitsubishi iMiEV,2016-11-03 10:18:11,2016-11-03 16:00:00,03A,NaN,NaN,NaN,NaN,NaN,25,NaN,7.500,NaN,NaN,False
3,0,Chevy Volt,2016-11-03 11:06:13,2016-11-03 13:00:00,15B,NaN,NaN,2016-11-03 10:45:00,2016-11-03 11:00:00,NaN,40,1.538424,14.000,2.994376,0.299438,False
4,0,Chevy Volt,2016-11-03 11:19:17,2016-11-03 17:00:00,04B,NaN,NaN,NaN,NaN,NaN,50,NaN,17.500,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40974,20595,Chevy Spark,2021-10-11 11:22:00,2021-10-11 15:22:57,LV22-08,2021-10-11 11:23:12,2021-10-11 13:42:27,2021-10-11 11:22:13,2021-10-11 13:41:35,NaN,50,3.386000,14.000,6.620000,0.827500,True
40975,21089,Nissan LEAF,2021-10-11 12:25:00,2021-10-11 17:25:23,08A,2021-10-11 12:25:25,2021-10-11 17:27:30,NaN,NaN,NaN,47,NaN,13.912,9.551000,0.955100,True
40976,21089,NaN,2021-10-11 13:28:00,2021-10-11 17:28:00,LV11-06,2021-10-11 13:27:49,2021-10-11 17:34:30,2021-10-11 13:27:18,2021-10-11 15:22:14,NaN,23,6.143000,10.120,8.534000,0.853400,True
40977,21089,NaN,2021-10-11 13:44:00,2021-10-11 19:32:07,LV22-12,2021-10-11 13:43:57,2021-10-11 16:42:32,2021-10-11 13:43:20,2021-10-11 16:41:42,NaN,100,3.170000,35.000,9.082000,1.816400,True
40978,21422,Nissan LEAF,2021-10-11 13:54:00,2021-10-11 21:54:16,LV11-11,2021-10-11 13:56:53,2021-10-11 17:22:54,2021-10-11 13:53:27,2021-10-11 17:22:03,NaN,90,6.453000,27.900,20.228000,2.022800,True

THe following dataset is from https://www.kaggle.com/datasets/venkatsairo4899/ev-charging-station-usage-of-california-city/data, which is from https://data.cityofpaloalto.org/dataviews/257812/electric-vehicle-charging-station-usage-july-2011-dec-2020/. It is about a 9 year collection of EV charging station usage from Palo Alto.

In [106]:
dataset4 = pd.read_csv("data/EVChargingStationUsage.csv")
dataset4

C:\Users\sunay\AppData\Local\Temp\ipykernel_25400\1997185635.py:1: DtypeWarning: Columns (29,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset4 = pd.read_csv("data/EVChargingStationUsage.csv")

,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Longitude,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,County,System S/N,Model Number
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/29/2011 20:17,PDT,7/29/2011 23:20,PDT,7/29/2011 23:20,3:03:32,1:54:03,...,-122.160309,USD,0.00,Plug Out at Vehicle,3,95124.0,3284.0,NaN,NaN,NaN
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 0:00,PDT,7/30/2011 0:02,PDT,7/30/2011 0:02,0:02:06,0:01:54,...,-122.160309,USD,0.00,Customer,4,94301.0,4169.0,NaN,NaN,NaN
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 8:16,PDT,7/30/2011 12:34,PDT,7/30/2011 12:34,4:17:32,4:17:28,...,-122.160309,USD,0.00,Plug Out at Vehicle,5,94301.0,4169.0,NaN,NaN,NaN
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 14:51,PDT,7/30/2011 16:55,PDT,7/30/2011 16:55,2:03:24,2:02:58,...,-122.160309,USD,0.00,Customer,6,94302.0,2545.0,NaN,NaN,NaN
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 18:51,PDT,7/30/2011 20:03,PDT,7/30/2011 20:03,1:11:24,0:43:54,...,-122.160309,USD,0.00,Plug Out at Vehicle,7,94043.0,3765.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259410,PALO ALTO CA / TED THOMPSON #3,0024:B100:0002:9F81,City of Palo Alto,12/31/2020 16:39,PST,12/31/2020 17:14,PST,12/31/2020 17:16,0:35:44,0:35:18,...,-122.144043,USD,0.42,Plug Out at Vehicle,2369,94301.0,2024201,NaN,1.745410e+11,CT4020-HD-GW
259411,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,City of Palo Alto,12/31/2020 16:48,PST,12/31/2020 20:31,PST,12/31/2020 20:32,3:43:01,2:14:04,...,-122.158272,USD,4.69,Plug Out at Vehicle,7255,94541.0,242661,Santa Clara County,1.336410e+11,CT4020-HD-GW
259412,PALO ALTO CA / MPL #4,0024:B100:0003:CD37,City of Palo Alto,12/31/2020 17:28,PST,1/1/2021 10:56,PST,1/1/2021 10:57,17:28:14,5:08:12,...,-122.113510,USD,6.82,Plug Out at Vehicle,455,94306.0,449995,Santa Clara County,2.002410e+11,CT4010-HD-GW
259413,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,City of Palo Alto,12/31/2020 17:49,PST,12/31/2020 21:55,PST,12/31/2020 21:56,4:05:34,3:53:42,...,-122.158272,USD,2.75,Plug Out at Vehicle,7256,94552.0,804075,Santa Clara County,1.336410e+11,CT4020-HD-GW
259414,PALO ALTO CA / CAMBRIDGE #4,0024:B100:0003:3A0A,City of Palo Alto,12/31/2020 18:19,PST,12/31/2020 19:01,PST,12/31/2020 19:02,0:42:07,0:41:44,...,-122.146034,USD,0.36,Plug Out at Vehicle,2302,94305.0,2022651,Santa Clara County,1.852410e+11,CT4020-HD-GW

CONSIDER: only using Palo Alto Data since it has 250k+ entries, but it does not say how much kW the chargers were, so there can be an assumption it is a standard 3.6 kW or a 7.2 kW charger, multiplied by the hours it charged to obtain kWh (an energy unit).

In [107]:
dataset1.drop(dataset1.columns.difference(['Start_plugin','End_plugout', 'El_kWh']), axis=1, inplace=True)
# print(dataset1)
dataset2.drop(dataset2.columns.difference(['created','ended', 'kwhTotal']), axis=1, inplace=True)
# print(dataset2)
dataset3.drop(dataset3.columns.difference(['start_charge','termin_charge', 'energy_charged']), axis=1, inplace=True)
print(dataset3)
dataset4.drop(dataset4.columns.difference(['Start Date','End Date', 'Charging Time (hh:mm:ss)']), axis=1, inplace=True)
print(dataset4)

dataset1.dropna(inplace=True)
dataset2.dropna(inplace=True)
dataset3.dropna(inplace=True)
dataset4.dropna(inplace=True)

              start_charge        termin_charge  energy_charged
0                      NaN                  NaN             NaN
1                      NaN                  NaN             NaN
2                      NaN                  NaN             NaN
3      2016-11-03 10:45:00  2016-11-03 11:00:00        2.994376
4                      NaN                  NaN             NaN
...                    ...                  ...             ...
40974  2021-10-11 11:22:13  2021-10-11 13:41:35        6.620000
40975                  NaN                  NaN        9.551000
40976  2021-10-11 13:27:18  2021-10-11 15:22:14        8.534000
40977  2021-10-11 13:43:20  2021-10-11 16:41:42        9.082000
40978  2021-10-11 13:53:27  2021-10-11 17:22:03       20.228000

[40979 rows x 3 columns]
              Start Date          End Date Charging Time (hh:mm:ss)
0        7/29/2011 20:17   7/29/2011 23:20                  1:54:03
1         7/30/2011 0:00    7/30/2011 0:02                  0:01:54
2         7/30/2011 8:16   7/30/2011 12:34                  4:17:28
3        7/30/2011 14:51   7/30/2011 16:55                  2:02:58
4        7/30/2011 18:51   7/30/2011 20:03                  0:43:54
...                  ...               ...                      ...
259410  12/31/2020 16:39  12/31/2020 17:14                  0:35:18
259411  12/31/2020 16:48  12/31/2020 20:31                  2:14:04
259412  12/31/2020 17:28    1/1/2021 10:56                  5:08:12
259413  12/31/2020 17:49  12/31/2020 21:55                  3:53:42
259414  12/31/2020 18:19  12/31/2020 19:01                  0:41:44

[259415 rows x 3 columns]

In [108]:
start_datetime1 = pd.to_datetime(dataset1['Start_plugin'], format="%d.%m.%Y %H:%M")
end_datetime1 = pd.to_datetime(dataset1['End_plugout'], format="%d.%m.%Y %H:%M")
dataset1["year_start"] = start_datetime1.dt.year
dataset1["month_start"] = start_datetime1.dt.month
dataset1["day_start"] = start_datetime1.dt.day
dataset1["hour_start"] = start_datetime1.dt.hour
dataset1["minute_start"] = start_datetime1.dt.minute
dataset1["year_end"] = end_datetime1.dt.year
dataset1["month_end"] = end_datetime1.dt.month
dataset1["day_end"] = end_datetime1.dt.day
dataset1["hour_end"] = end_datetime1.dt.hour
dataset1["minute_end"] = end_datetime1.dt.minute
dataset1["duration"] = end_datetime1 - start_datetime1
dataset1.drop(["Start_plugin", "End_plugout"], axis=1, inplace=True)
dataset1.rename(columns={"El_kWh": "kWh"}, inplace=True)
dataset1

,kWh,year_start,month_start,day_start,hour_start,minute_start,year_end,month_end,day_end,hour_end,minute_end,duration
0,0.30,2018,12,21,10,20,2018,12,21,10,23,0 days 00:03:00
1,0.87,2018,12,21,10,24,2018,12,21,10,32,0 days 00:08:00
2,29.87,2018,12,21,11,33,2018,12,21,19,46,0 days 08:13:00
3,15.56,2018,12,22,16,15,2018,12,23,16,40,1 days 00:25:00
4,3.62,2018,12,24,22,3,2018,12,24,23,2,0 days 00:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...
6873,13.43,2020,1,31,17,57,2020,1,31,22,29,0 days 04:32:00
6874,9.10,2020,1,31,18,32,2020,1,31,21,43,0 days 03:11:00
6875,4.28,2020,1,31,19,25,2020,1,31,20,37,0 days 01:12:00
6876,2.31,2020,1,31,19,27,2020,1,31,19,48,0 days 00:21:00
6877,20.14,2020,1,31,20,42,2020,1,31,23,53,0 days 03:11:00

In [109]:
dataset2["created"] = "2" + dataset2["created"].str[1:]
dataset2["ended"] = "2" + dataset2["ended"].str[1:]
start_datetime2 = pd.to_datetime(dataset2['created'], format="%Y-%m-%d %H:%M:%S")
end_datetime2 = pd.to_datetime(dataset2['ended'], format="%Y-%m-%d %H:%M:%S")
dataset2["year_start"] = start_datetime2.dt.year
dataset2["month_start"] = start_datetime2.dt.month
dataset2["day_start"] = start_datetime2.dt.day
dataset2["hour_start"] = start_datetime2.dt.hour
dataset2["minute_start"] = start_datetime2.dt.minute
dataset2["year_end"] = end_datetime2.dt.year
dataset2["month_end"] = end_datetime2.dt.month
dataset2["day_end"] = end_datetime2.dt.day
dataset2["hour_end"] = end_datetime2.dt.hour
dataset2["minute_end"] = end_datetime2.dt.minute
dataset2["duration"] = end_datetime2 - start_datetime2
dataset2.drop(["created", "ended"], axis=1, inplace=True)
dataset2.rename(columns={"kwhTotal": "kWh"}, inplace=True)
dataset2

,kWh,year_start,month_start,day_start,hour_start,minute_start,year_end,month_end,day_end,hour_end,minute_end,duration
0,7.78,2014,11,18,15,40,2014,11,18,17,11,0 days 01:30:38
1,9.74,2014,11,19,17,40,2014,11,19,19,51,0 days 02:10:38
2,6.76,2014,11,21,12,5,2014,11,21,16,46,0 days 04:40:18
3,6.17,2014,12,3,19,16,2014,12,3,21,2,0 days 01:46:06
4,0.93,2014,12,11,20,56,2014,12,11,21,14,0 days 00:17:55
...,...,...,...,...,...,...,...,...,...,...,...,...
3390,6.74,2015,10,1,16,31,2015,10,1,19,59,0 days 03:27:50
3391,6.86,2015,10,2,16,28,2015,10,2,19,27,0 days 02:58:17
3392,6.07,2015,9,30,16,54,2015,9,30,20,24,0 days 03:29:44
3393,5.74,2015,9,24,11,43,2015,9,24,13,55,0 days 02:12:10
3394,6.95,2015,10,1,16,43,2015,10,1,19,42,0 days 02:59:01

In [110]:
start_datetime3 = pd.to_datetime(dataset3['start_charge'], format="%Y-%m-%d %H:%M:%S")
end_datetime3 = pd.to_datetime(dataset3['termin_charge'], format="%Y-%m-%d %H:%M:%S")
dataset3["year_start"] = start_datetime3.dt.year
dataset3["month_start"] = start_datetime3.dt.month
dataset3["day_start"] = start_datetime3.dt.day
dataset3["hour_start"] = start_datetime3.dt.hour
dataset3["minute_start"] = start_datetime3.dt.minute
dataset3["year_end"] = end_datetime3.dt.year
dataset3["month_end"] = end_datetime3.dt.month
dataset3["day_end"] = end_datetime3.dt.day
dataset3["hour_end"] = end_datetime3.dt.hour
dataset3["minute_end"] = end_datetime3.dt.minute
dataset3["duration"] = end_datetime3 - start_datetime3
dataset3.drop(["start_charge", "termin_charge"], axis=1, inplace=True)
dataset3.rename(columns={"energy_charged": "kWh"}, inplace=True)
dataset3

,kWh,year_start,month_start,day_start,hour_start,minute_start,year_end,month_end,day_end,hour_end,minute_end,duration
3,2.994376,2016,11,3,10,45,2016,11,3,11,0,0 days 00:15:00
5,7.877445,2016,11,4,8,15,2016,11,4,10,15,0 days 02:00:00
6,8.832178,2016,11,4,7,45,2016,11,4,9,15,0 days 01:30:00
7,8.376392,2016,11,4,7,45,2016,11,4,9,45,0 days 02:00:00
8,4.367074,2016,11,4,8,30,2016,11,4,9,15,0 days 00:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...
40973,6.812000,2021,10,11,8,37,2021,10,11,11,5,0 days 02:28:02
40974,6.620000,2021,10,11,11,22,2021,10,11,13,41,0 days 02:19:22
40976,8.534000,2021,10,11,13,27,2021,10,11,15,22,0 days 01:54:56
40977,9.082000,2021,10,11,13,43,2021,10,11,16,41,0 days 02:58:22
40978,20.228000,2021,10,11,13,53,2021,10,11,17,22,0 days 03:28:36

In [111]:
dataset4

              Start Date          End Date Charging Time (hh:mm:ss)
0        7/29/2011 20:17   7/29/2011 23:20                  1:54:03
1         7/30/2011 0:00    7/30/2011 0:02                  0:01:54
2         7/30/2011 8:16   7/30/2011 12:34                  4:17:28
3        7/30/2011 14:51   7/30/2011 16:55                  2:02:58
4        7/30/2011 18:51   7/30/2011 20:03                  0:43:54
...                  ...               ...                      ...
259410  12/31/2020 16:39  12/31/2020 17:14                  0:35:18
259411  12/31/2020 16:48  12/31/2020 20:31                  2:14:04
259412  12/31/2020 17:28    1/1/2021 10:56                  5:08:12
259413  12/31/2020 17:49  12/31/2020 21:55                  3:53:42
259414  12/31/2020 18:19  12/31/2020 19:01                  0:41:44

[259415 rows x 3 columns]

In [112]:
start_datetime4 = pd.to_datetime(dataset4['Start Date'], format="%m/%d/%Y %H:%M", errors="coerce")
end_datetime4 = pd.to_datetime(dataset4['End Date'], format="%m/%d/%Y %H:%M", errors="coerce")
start_datetime1.dropna(inplace=True)
end_datetime1.dropna(inplace=True)
dataset4["year_start"] = start_datetime4.dt.year
dataset4["month_start"] = start_datetime4.dt.month
dataset4["day_start"] = start_datetime4.dt.day
dataset4["hour_start"] = start_datetime4.dt.hour
dataset4["minute_start"] = start_datetime4.dt.minute
dataset4["year_end"] = end_datetime4.dt.year
dataset4["month_end"] = end_datetime4.dt.month
dataset4["day_end"] = end_datetime4.dt.day
dataset4["hour_end"] = end_datetime4.dt.hour
dataset4["minute_end"] = end_datetime4.dt.minute
dataset4["duration"] = end_datetime4 - start_datetime4
duration = pd.to_datetime(dataset4["Charging Time (hh:mm:ss)"], format="%H:%M:%S")
dataset4["kWh"] = (duration.dt.hour + duration.dt.minute / 60 + duration.dt.second / 3600) * 7.2 # assumes standard Level 2 charger which is 7.2 kW
dataset4.drop(["Start Date", "End Date", "Charging Time (hh:mm:ss)"], axis=1, inplace=True)
dataset4.dropna(inplace=True)
dataset4

,year_start,month_start,day_start,hour_start,minute_start,year_end,month_end,day_end,hour_end,minute_end,duration,kWh
0,2011,7,29,20,17,2011.0,7.0,29.0,23.0,20.0,0 days 03:03:00,13.686
1,2011,7,30,0,0,2011.0,7.0,30.0,0.0,2.0,0 days 00:02:00,0.228
2,2011,7,30,8,16,2011.0,7.0,30.0,12.0,34.0,0 days 04:18:00,30.896
3,2011,7,30,14,51,2011.0,7.0,30.0,16.0,55.0,0 days 02:04:00,14.756
4,2011,7,30,18,51,2011.0,7.0,30.0,20.0,3.0,0 days 01:12:00,5.268
...,...,...,...,...,...,...,...,...,...,...,...,...
259410,2020,12,31,16,39,2020.0,12.0,31.0,17.0,14.0,0 days 00:35:00,4.236
259411,2020,12,31,16,48,2020.0,12.0,31.0,20.0,31.0,0 days 03:43:00,16.088
259412,2020,12,31,17,28,2021.0,1.0,1.0,10.0,56.0,0 days 17:28:00,36.984
259413,2020,12,31,17,49,2020.0,12.0,31.0,21.0,55.0,0 days 04:06:00,28.044
259414,2020,12,31,18,19,2020.0,12.0,31.0,19.0,1.0,0 days 00:42:00,5.008

Below is the first three datasets concated together.

In [113]:
datasets_without_assumptions = pd.concat([dataset1, dataset2, dataset3])
datasets_without_assumptions

,kWh,year_start,month_start,day_start,hour_start,minute_start,year_end,month_end,day_end,hour_end,minute_end,duration
0,0.300,2018,12,21,10,20,2018,12,21,10,23,0 days 00:03:00
1,0.870,2018,12,21,10,24,2018,12,21,10,32,0 days 00:08:00
2,29.870,2018,12,21,11,33,2018,12,21,19,46,0 days 08:13:00
3,15.560,2018,12,22,16,15,2018,12,23,16,40,1 days 00:25:00
4,3.620,2018,12,24,22,3,2018,12,24,23,2,0 days 00:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...
40973,6.812,2021,10,11,8,37,2021,10,11,11,5,0 days 02:28:02
40974,6.620,2021,10,11,11,22,2021,10,11,13,41,0 days 02:19:22
40976,8.534,2021,10,11,13,27,2021,10,11,15,22,0 days 01:54:56
40977,9.082,2021,10,11,13,43,2021,10,11,16,41,0 days 02:58:22
40978,20.228,2021,10,11,13,53,2021,10,11,17,22,0 days 03:28:36

Below is all four datasets concated together, which includes the assumption made for the last dataset.

In [114]:
datasets_with_assumptions = pd.concat([dataset1, dataset2, dataset3, dataset4])
datasets_with_assumptions

,kWh,year_start,month_start,day_start,hour_start,minute_start,year_end,month_end,day_end,hour_end,minute_end,duration
0,0.300,2018,12,21,10,20,2018.0,12.0,21.0,10.0,23.0,0 days 00:03:00
1,0.870,2018,12,21,10,24,2018.0,12.0,21.0,10.0,32.0,0 days 00:08:00
2,29.870,2018,12,21,11,33,2018.0,12.0,21.0,19.0,46.0,0 days 08:13:00
3,15.560,2018,12,22,16,15,2018.0,12.0,23.0,16.0,40.0,1 days 00:25:00
4,3.620,2018,12,24,22,3,2018.0,12.0,24.0,23.0,2.0,0 days 00:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...
259410,4.236,2020,12,31,16,39,2020.0,12.0,31.0,17.0,14.0,0 days 00:35:00
259411,16.088,2020,12,31,16,48,2020.0,12.0,31.0,20.0,31.0,0 days 03:43:00
259412,36.984,2020,12,31,17,28,2021.0,1.0,1.0,10.0,56.0,0 days 17:28:00
259413,28.044,2020,12,31,17,49,2020.0,12.0,31.0,21.0,55.0,0 days 04:06:00
259414,5.008,2020,12,31,18,19,2020.0,12.0,31.0,19.0,1.0,0 days 00:42:00

Export the data from here:

In [115]:
datasets_without_assumptions.to_csv("datasets_without_assumptions.csv")
datasets_with_assumptions.to_csv("datasets_with_assumptions.csv")